esercizio16Nov/events.js
esercizio16Nov/index.html
esercizio16Nov/recuperaPost.js
esercizio16Nov/sendPost.js
esercizio16Nov/workspace.code-workspace
VS2015Web/index.html
VS2015Web/index.js
VS2015Web/Web.config
VS2015Web/Web.Debug.config
